/* line 5, ../../../app/styles/custom/session.scss */
.sc-logo-img {
  padding-top: 5px;
  padding-left: 50px;
  height: 40px;
}

/* line 11, ../../../app/styles/custom/session.scss */
.px-100-divider {
  padding-right: 50px;
}

/* line 15, ../../../app/styles/custom/session.scss */
.sc-hero-unit {
  height: 300px;
  background: url("images/heroback.jpg") no-repeat right;
}

/* line 19, ../../../app/styles/custom/session.scss */
.sc-hero-leader {
  padding-top: 15px;
  padding-bottom: 25px;
  margin-right: auto;
}

/* line 24, ../../../app/styles/custom/session.scss */
.h1-wht-trans {
  background: rgba(255, 255, 255, 0.7);
  font-size: 36px;
  font-style: bold;
  width: auto;
  line-height: 40px;
}

/* line 32, ../../../app/styles/custom/session.scss */
.sc-back-gray {
  background: #eeeeee;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 7px;
}

/* line 39, ../../../app/styles/custom/session.scss */
.sc-feature-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 45, ../../../app/styles/custom/session.scss */
.sc-feature-text {
  margin-left: auto;
  margin-right: auto;
}

/* line 52, ../../../app/styles/custom/session.scss */
.sc-gray-spacer {
  background: url("images/wavegrid.png");
  height: 20px;
}

/* line 57, ../../../app/styles/custom/session.scss */
.sc-back-main {
  padding-top: 20px;
  padding-bottom: 0px;
  margin-bottom: 7px;
}

/* line 63, ../../../app/styles/custom/session.scss */
.sc-footer {
  background: url("images/wavegrid.png");
  min-height: 80px;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 8px;
}
/* line 71, ../../../app/styles/custom/session.scss */
.sc-footer a {
  color: #222222;
}
/* line 75, ../../../app/styles/custom/session.scss */
.sc-footer a:hover {
  color: #049cdb;
}

/* line 80, ../../../app/styles/custom/session.scss */
.icon-gray {
  color: #555555;
}

/* line 84, ../../../app/styles/custom/session.scss */
.icon-twitter-blue {
  color: #4099ff;
}

/* line 88, ../../../app/styles/custom/session.scss */
.sc-top-color-bar {
  height: 6px;
  border: solid #eee 1px;
  background: #fc7400;
}

/* line 94, ../../../app/styles/custom/session.scss */
.sc-bottom-color-bar {
  height: 6px;
  border: solid #eee 1px;
  background: #004f94;
}

/* line 99, ../../../app/styles/custom/session.scss */
.sc-top-bar-background {
  background: url("images/wavegrid.png");
}
/* line 102, ../../../app/styles/custom/session.scss */
.sc-top-bar-background ul, .sc-top-bar-background li {
  background: url("images/wavegrid.png");
}
