/* line 4, ../../../app/styles/vendor/foundation/components/_global.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../../../app/styles/vendor/foundation/components/_global.scss */
html,
body {
  font-size: 100%;
}

/* line 12, ../../../app/styles/vendor/foundation/components/_global.scss */
body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
}

/* line 25, ../../../app/styles/vendor/foundation/components/_global.scss */
a:focus {
  outline: none;
}

/* line 30, ../../../app/styles/vendor/foundation/components/_global.scss */
img,
object,
embed {
  max-width: 100%;
  height: auto;
}

/* line 33, ../../../app/styles/vendor/foundation/components/_global.scss */
object,
embed {
  height: 100%;
}

/* line 34, ../../../app/styles/vendor/foundation/components/_global.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 40, ../../../app/styles/vendor/foundation/components/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

/* line 45, ../../../app/styles/vendor/foundation/components/_global.scss */
.left {
  float: left !important;
}

/* line 46, ../../../app/styles/vendor/foundation/components/_global.scss */
.right {
  float: right !important;
}

/* line 47, ../../../app/styles/vendor/foundation/components/_global.scss */
.text-left {
  text-align: left !important;
}

/* line 48, ../../../app/styles/vendor/foundation/components/_global.scss */
.text-right {
  text-align: right !important;
}

/* line 49, ../../../app/styles/vendor/foundation/components/_global.scss */
.text-center {
  text-align: center !important;
}

/* line 50, ../../../app/styles/vendor/foundation/components/_global.scss */
.text-justify {
  text-align: justify !important;
}

/* line 51, ../../../app/styles/vendor/foundation/components/_global.scss */
.hide {
  display: none;
}

/* line 57, ../../../app/styles/vendor/foundation/components/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
}

/* line 60, ../../../app/styles/vendor/foundation/components/_global.scss */
img {
  display: inline-block;
}

/* line 67, ../../../app/styles/vendor/foundation/components/_global.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 70, ../../../app/styles/vendor/foundation/components/_global.scss */
select {
  width: 100%;
}

/* line 161, ../../../app/styles/vendor/foundation/components/_buttons.scss */
button, .button {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 1.25em;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 0.75em;
  padding-right: 1.5em;
  padding-bottom: 0.8125em;
  padding-left: 1.5em;
  font-size: 1em;
  background-color: #2ba6cb;
  border-color: #2284a1;
  color: white;
}
/* line 114, ../../../app/styles/vendor/foundation/components/_buttons.scss */
button:hover, button:focus, .button:hover, .button:focus {
  background-color: #2284a1;
}
/* line 125, ../../../app/styles/vendor/foundation/components/_buttons.scss */
button:hover, button:focus, .button:hover, .button:focus {
  color: white;
}
/* line 166, ../../../app/styles/vendor/foundation/components/_buttons.scss */
button.secondary, .button.secondary {
  background-color: #e9e9e9;
  border-color: #d0d0d0;
  color: #333333;
}
/* line 114, ../../../app/styles/vendor/foundation/components/_buttons.scss */
button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
  background-color: #d0d0d0;
}
/* line 120, ../../../app/styles/vendor/foundation/components/_buttons.scss */
button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
  color: #333333;
}
/* line 167, ../../../app/styles/vendor/foundation/components/_buttons.scss */
button.success, .button.success {
  background-color: #5da423;
  border-color: #457a1a;
  color: white;
}
/* line 114, ../../../app/styles/vendor/foundation/components/_buttons.scss */
button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
  background-color: #457a1a;
}
/* line 125, ../../../app/styles/vendor/foundation/components/_buttons.scss */
button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
  color: white;
}
/* line 168, ../../../app/styles/vendor/foundation/components/_buttons.scss */
button.alert, .button.alert {
  background-color: #c60f13;
  border-color: #970b0e;
  color: white;
}
/* line 114, ../../../app/styles/vendor/foundation/components/_buttons.scss */
button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
  background-color: #970b0e;
}
/* line 125, ../../../app/styles/vendor/foundation/components/_buttons.scss */
button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
  color: white;
}
/* line 170, ../../../app/styles/vendor/foundation/components/_buttons.scss */
button.large, .button.large {
  padding-top: 1em;
  padding-right: 2em;
  padding-bottom: 1.0625em;
  padding-left: 2em;
  font-size: 1.25em;
}
/* line 171, ../../../app/styles/vendor/foundation/components/_buttons.scss */
button.small, .button.small {
  padding-top: 0.5625em;
  padding-right: 1.125em;
  padding-bottom: 0.625em;
  padding-left: 1.125em;
  font-size: 0.8125em;
}
/* line 172, ../../../app/styles/vendor/foundation/components/_buttons.scss */
button.tiny, .button.tiny {
  padding-top: 0.4375em;
  padding-right: 0.875em;
  padding-bottom: 0.5em;
  padding-left: 0.875em;
  font-size: 0.6875em;
}
/* line 173, ../../../app/styles/vendor/foundation/components/_buttons.scss */
button.expand, .button.expand {
  padding-top: false;
  padding-right: 0px;
  padding-bottom: false0.0625em;
  padding-left: 0px;
  width: 100%;
}
/* line 175, ../../../app/styles/vendor/foundation/components/_buttons.scss */
button.left-align, .button.left-align {
  text-align: left;
  text-indent: 0.75em;
}
/* line 176, ../../../app/styles/vendor/foundation/components/_buttons.scss */
button.right-align, .button.right-align {
  text-align: right;
  padding-right: 0.75em;
}
/* line 178, ../../../app/styles/vendor/foundation/components/_buttons.scss */
button.disabled, button[disabled], .button.disabled, .button[disabled] {
  background-color: #2ba6cb;
  border-color: #2284a1;
  color: white;
  cursor: default;
  opacity: 0.6;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 114, ../../../app/styles/vendor/foundation/components/_buttons.scss */
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
  background-color: #2284a1;
}
/* line 125, ../../../app/styles/vendor/foundation/components/_buttons.scss */
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
  color: white;
}
/* line 136, ../../../app/styles/vendor/foundation/components/_buttons.scss */
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
  background-color: #2ba6cb;
}
/* line 179, ../../../app/styles/vendor/foundation/components/_buttons.scss */
button.disabled.secondary, button[disabled].secondary, .button.disabled.secondary, .button[disabled].secondary {
  background-color: #e9e9e9;
  border-color: #d0d0d0;
  color: #333333;
  cursor: default;
  opacity: 0.6;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 114, ../../../app/styles/vendor/foundation/components/_buttons.scss */
button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
  background-color: #d0d0d0;
}
/* line 120, ../../../app/styles/vendor/foundation/components/_buttons.scss */
button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
  color: #333333;
}
/* line 136, ../../../app/styles/vendor/foundation/components/_buttons.scss */
button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
  background-color: #e9e9e9;
}
/* line 180, ../../../app/styles/vendor/foundation/components/_buttons.scss */
button.disabled.success, button[disabled].success, .button.disabled.success, .button[disabled].success {
  background-color: #5da423;
  border-color: #457a1a;
  color: white;
  cursor: default;
  opacity: 0.6;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 114, ../../../app/styles/vendor/foundation/components/_buttons.scss */
button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
  background-color: #457a1a;
}
/* line 125, ../../../app/styles/vendor/foundation/components/_buttons.scss */
button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
  color: white;
}
/* line 136, ../../../app/styles/vendor/foundation/components/_buttons.scss */
button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
  background-color: #5da423;
}
/* line 181, ../../../app/styles/vendor/foundation/components/_buttons.scss */
button.disabled.alert, button[disabled].alert, .button.disabled.alert, .button[disabled].alert {
  background-color: #c60f13;
  border-color: #970b0e;
  color: white;
  cursor: default;
  opacity: 0.6;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 114, ../../../app/styles/vendor/foundation/components/_buttons.scss */
button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
  background-color: #970b0e;
}
/* line 125, ../../../app/styles/vendor/foundation/components/_buttons.scss */
button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
  color: white;
}
/* line 136, ../../../app/styles/vendor/foundation/components/_buttons.scss */
button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
  background-color: #c60f13;
}

/* line 187, ../../../app/styles/vendor/foundation/components/_buttons.scss */
input.button,
button.button {
  padding-top: 0.8125em;
  padding-bottom: 0.75em;
}
/* line 189, ../../../app/styles/vendor/foundation/components/_buttons.scss */
input.button.tiny,
button.button.tiny {
  padding-top: 0.5em;
  padding-bottom: 0.4375em;
}
/* line 190, ../../../app/styles/vendor/foundation/components/_buttons.scss */
input.button.small,
button.button.small {
  padding-top: 0.625em;
  padding-bottom: 0.5625em;
}
/* line 191, ../../../app/styles/vendor/foundation/components/_buttons.scss */
input.button.large,
button.button.large {
  padding-top: 1.03125em;
  padding-bottom: 1.03125em;
}

@media only screen {
  /* line 197, ../../../app/styles/vendor/foundation/components/_buttons.scss */
  .button {
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
  }
  /* line 141, ../../../app/styles/vendor/foundation/_foundation-global.scss */
  .button:active {
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
  }
  /* line 205, ../../../app/styles/vendor/foundation/components/_buttons.scss */
  .button.radius {
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }
  /* line 206, ../../../app/styles/vendor/foundation/components/_buttons.scss */
  .button.round {
    -webkit-border-radius: 1000px;
    border-radius: 1000px;
  }
}
@media only screen and (min-width: 48em) {
  /* line 213, ../../../app/styles/vendor/foundation/components/_buttons.scss */
  .button {
    display: inline-block;
  }
}
/* line 14, ../../../app/styles/custom/session.scss */
.sc-logo-img {
  padding-top: 5px;
  padding-left: 50px;
  height: 40px;
}

/* line 20, ../../../app/styles/custom/session.scss */
.px-100-divider {
  padding-right: 50px;
}

/* line 24, ../../../app/styles/custom/session.scss */
.sc-hero-unit {
  height: 300px;
  background: url("images/heroback.jpg") no-repeat right;
}

@media all and (max-width: 768px) {
  /* line 30, ../../../app/styles/custom/session.scss */
  .sc-hero-unit {
    height: 300px;
    background: #ffffff;
  }
}
/* line 35, ../../../app/styles/custom/session.scss */
.sc-hero-leader {
  padding-top: 15px;
  padding-bottom: 25px;
  margin-right: auto;
}

/* line 40, ../../../app/styles/custom/session.scss */
.h1-wht-trans {
  background: rgba(255, 255, 255, 0.7);
  font-size: 36px;
  font-style: bold;
  width: auto;
  line-height: 40px;
}

/* line 47, ../../../app/styles/custom/session.scss */
.p-wht-trans {
  background: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  font-style: normal;
  width: auto;
  line-height: 24px;
}

/* line 54, ../../../app/styles/custom/session.scss */
.call-to-action-btn {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 1.25em;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 0.75em;
  padding-right: 1.5em;
  padding-bottom: 0.8125em;
  padding-left: 1.5em;
  font-size: 1em;
  background-color: #004f94;
  border-color: #003461;
  color: white;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
}
/* line 114, ../../../app/styles/vendor/foundation/components/_buttons.scss */
.call-to-action-btn:hover, .call-to-action-btn:focus {
  background-color: #003461;
}
/* line 125, ../../../app/styles/vendor/foundation/components/_buttons.scss */
.call-to-action-btn:hover, .call-to-action-btn:focus {
  color: white;
}

/* line 61, ../../../app/styles/custom/session.scss */
.learn-more-btn {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 1.25em;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 0.75em;
  padding-right: 1.5em;
  padding-bottom: 0.8125em;
  padding-left: 1.5em;
  font-size: 1em;
  background-color: #eeeeee;
  border-color: #d4d4d4;
  color: #333333;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
}
/* line 114, ../../../app/styles/vendor/foundation/components/_buttons.scss */
.learn-more-btn:hover, .learn-more-btn:focus {
  background-color: #d4d4d4;
}
/* line 120, ../../../app/styles/vendor/foundation/components/_buttons.scss */
.learn-more-btn:hover, .learn-more-btn:focus {
  color: #333333;
}

/* line 67, ../../../app/styles/custom/session.scss */
.sc-back-gray {
  background: #eeeeee;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 7px;
  z-index: -100;
}

/* line 75, ../../../app/styles/custom/session.scss */
.sc-feature-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 81, ../../../app/styles/custom/session.scss */
.sc-feature-text {
  margin-left: auto;
  margin-right: auto;
}

/* line 88, ../../../app/styles/custom/session.scss */
.sc-gray-spacer {
  background: url("images/wavegrid.png");
  height: 20px;
}

/* line 93, ../../../app/styles/custom/session.scss */
.sc-back-main {
  padding-top: 20px;
  padding-bottom: 0px;
  margin-bottom: 30px;
}

/* line 99, ../../../app/styles/custom/session.scss */
.sc-footer {
  background: url("images/wavegrid.png");
  min-height: 80px;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 8px;
}
/* line 107, ../../../app/styles/custom/session.scss */
.sc-footer a {
  color: #222222;
}
/* line 111, ../../../app/styles/custom/session.scss */
.sc-footer a:hover {
  color: #049cdb;
}

/* line 116, ../../../app/styles/custom/session.scss */
.icon-gray {
  color: #555555;
}

/* line 120, ../../../app/styles/custom/session.scss */
.icon-twitter-blue {
  color: #4099ff;
}

/* line 124, ../../../app/styles/custom/session.scss */
.sc-top-color-bar {
  height: 6px;
  border: solid #eee 1px;
  background: #fc7400;
}

/* line 130, ../../../app/styles/custom/session.scss */
.sc-bottom-color-bar {
  height: 6px;
  border: solid #eee 1px;
  background: #004f94;
}

/* line 135, ../../../app/styles/custom/session.scss */
.sc-top-bar-background {
  background: url("images/wavegrid.png");
}
/* line 138, ../../../app/styles/custom/session.scss */
.sc-top-bar-background ul, .sc-top-bar-background li {
  background: url("images/wavegrid.png");
}

/* line 142, ../../../app/styles/custom/session.scss */
.grid-border {
  border: solid #555555 1px;
  padding: 5px 5px 5px 5px;
}

/* line 147, ../../../app/styles/custom/session.scss */
.inner-shadow {
  -moz-box-shadow: inset 0 0 10px #222222;
  -webkit-box-shadow: inset 0 0 10px #222222;
  box-shadow: inset 0 0 10px #222222;
  padding: 12px 12px 12px 12px;
  border-radius: 5px;
  background: white;
}

/* line 156, ../../../app/styles/custom/session.scss */
.outer-shadow {
  -moz-box-shadow: 2px 2px 2px 2px #ccc;
  -webkit-box-shadow: 2px 2px 2px 2px #ccc;
  box-shadow: 2px 2px 2px 2px #ccc;
  padding: 12px 12px 12px 12px;
  border-radius: 5px;
  background: white;
}

/* line 165, ../../../app/styles/custom/session.scss */
.secondary-beta-announcement {
  background: url("images/banner.png") right no-repeat;
  height: 77px;
  color: white;
  text-align: right;
  vertical-align: center;
  margin-bottom: 10px;
}
/* line 171, ../../../app/styles/custom/session.scss */
.secondary-beta-announcement h1 {
  font-size: 28px;
  color: #ffffff;
  padding-top: 15px;
  padding-right: 4px;
}
