<div class="sc-top-color-bar"></div>
<nav class="top-bar">
  <ul class="title-area">
    <img class="sc-logo-img" src="styles/images/logo.png">

    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
        <li><a href="/#">Home</a></li>
        <li class="divider"></li>
        <li><a href="#/learn">Learn more</a></li>
        <li class="divider"></li>
        <li class="active"><a href="#/about">About</a></li>
        <li class="divider"></li>
        <li><a href="http://eepurl.com/r-LMj">Sign up for beta access</a></li>
        <li class="divider"></li>
        <li class="px-100-divider">  </li>
    </ul>
</section>
</nav>
<div class="sc-about-back">
  <div class="row">
    <div class="large-8 small-12 columns large-centered">
<div class="sc-about-content">
    <h5>About Scalacity</h5>
    We're committed to helping you build high performance data-driven applications.  We're a team with lots of experience working on hard problems for the military and the intelligence community, two organizations that deal with enormous amounts of data and have stringent performance requirements.  Setting up an architecture that scales and gives you the performance you want is tedious.  Let us help you do that so you can concentrate on getting value out of your data. 
    <br><br>
    We're a startup with roots in the DC entrepreneurship community.  You can help us help you by getting in touch and telling us about your business, your application, and the problems that you have.  We'd love to hear from you.
    <p>
    
    <h5>Contact us</h5>
    We're a member of the amazing <a href="http://1776dc.com">1776 Campus</a>.  Feel free to shoot us an email and stop by.
    <br><br>
    You can also <a href="http://twitter.com/scalacity">follow us on twitter</a> or get in touch directly <a href="mailto:bryan@scalacity.com">via email</a> or phone (703) 829-0390.
      

</div>
</div>
</div>
</div>
<div class="sc-bottom-color-bar"></div>
<div class="sc-footer">
    <div class="row">
        <div class="right">
        <ul class="inline-list">
            <li><a href="/#/about">About</a></li>
            <li><a href="http://twitter.com/scalacity"><span><i class="social-foundicon-twitter icon-twitter-blue"></i>   @scalacity</span></a></li>
            <li><a href="mailto:info@scalacity.com"><span><i class="foundicon-mail icon-gray"></i>   Contact</span></a></li>
        </ul>
        </div>
    </div>
    <div class="row">
    <small>&copy; Scalacity, 2013</small>
    </div>

</div>
