<div class="sc-top-color-bar"></div>
<nav class="top-bar">
  <ul class="title-area">
    <img class="sc-logo-img" src="styles/images/logo.png">

    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
        <li><a href="/#">Home</a></li>
        <li class="divider"></li>
        <li class="active"><a href="#/learn">Learn more</a></li>
        <li class="divider"></li>
        <li><a href="#/about">About</a></li>
        <li class="divider"></li>
        <li><a href="http://eepurl.com/r-LMj">Sign up for beta access</a></li>
        <li class="divider"></li>
        <li class="px-100-divider">  </li>
    </ul>
</section>
</nav>

<div class="sc-learn-back">
<div class="row">
<div class="sc-learn-content">
    <div class="row">
        <h5>A high performance architecture without the headaches</h5>
        <ul class="small-block-grid-2 large-block-grid-2">
        <li>
            <div class="sc-learn-feature-inset2">     
                <img class="sc-feature-img" src="styles/images/arch.png">
                <div class="sc-learn-features">
                Key features:
                <ul>
                    <li>Define complex application architectures with a simple text file</li>
                    <li>Specify dependencies and configuration items that are automatically provisioned to your nodes using Puppet</li>
                    <li>Define scaling rules that respond to custom application or machine metrics</li>
                    <li>Easily integrate with your existing data stores and cloud architecture</li>
                </ul>
                </div>
            </div>
        </li>
        <li>
            <div class="sc-learn-long">
                Scalacity is designed to solve your devops headaches when developing complicated applications.  
                <br><br>
                <em>How does it work?</em>
                <br><br>
                Define your application's architecture, its configuration, and dependencies in a simple text-based format.  We'll automatically analyze your application and your custom scaling rules to determine how best to deploy your code to your cloud provider.  Scalacity integrates with your existing data stores and cloud architecture to launch, provision, and monitor your application.
                <br><br>
                Deploy Storm, Spark, or Hadoop applications easily without worrying about configuration headaches.  Or, develop your own application framework with fine-grained control over all aspects of your configuration.  Start from our battle-tested Puppet configurations and fine-tune them as needed.
            </div>
        </li>
        </ul>
    </div>
</div>
<div class="sc-learn-content">
    <div class="row">
        <h5>Insight into every facet of your application</h5>
        <ul class="small-block-grid-2 large-block-grid-2">
                <li>
            <div class="sc-learn-long">
                We help you get the best possible performance by giving you deep insight into what's going on with your application.  
                <br><br>
                <em>How does it work?</em>
                <br><br>
                Visualize every important metric in your application.  Quickly identify bottlenecks created by machine capacity, the network, or define custom application metrics to understand where your code is slow.  Our web interface allows you to drill down so you can see when things aren't working and why.  
                <br><br>
                Your metrics and logs are fully indexed and searchable via the web interface or through our API.  Run different versions of your application and compare performance metrics, or go back in time and see how and why your application's performance has changed.
            </div>
        </li>
        <li>
            <div class="sc-learn-feature-inset2">     
                <img class="sc-feature-img" src="styles/images/graph.png">
                <div class="sc-learn-features">
                Key features:
                <ul>
                    <li>Visualize all the important metrics in your application</li>
                    <li>Use the web interface to drill down on any facet of your application and monitor its performance</li>
                    <li>Metrics and logs are fully indexed and searchable</li>
                    <li>Integrate metrics with custom rules like service notifications or scaling rules</li>
                </ul>
                </div>
            </div>
        </li>

        </ul>
    </div>
</div>

<div class="sc-learn-content">
    <div class="row">
    <h5>Additional questions?</h5>
    We're working hard on Scalacity right now.  If you have questions, feature requests, or comments, please <a href="mailto:info@scalacity.com">reach out to us</a> and let us know about your needs.
    <br><br>
    The beta version of Scalacity will open in Summer 2013.  Be one of our first customers and receive enterprise support and special pricing.  <a href="http://eepurl.com/r-LMj">Reserve your spot today</a>.  
    </div>
</div>

</div>
</div>
<div class="sc-bottom-color-bar"></div>
<div class="sc-footer">
    <div class="row">
        <div class="right">
        <ul class="inline-list">
            <li><a href="/#/about">About</a></li>
            <li><a href="http://twitter.com/scalacity"><span><i class="social-foundicon-twitter icon-twitter-blue"></i>   @scalacity</span></a></li>
            <li><a href="mailto:info@scalacity.com"><span><i class="foundicon-mail icon-gray"></i>   Contact</span></a></li>
        </ul>
        </div>
    </div>
    <div class="row">
    <small>&copy; Scalacity, 2013</small>
    </div>

</div>
