<div class="sc-top-color-bar"></div>
<nav class="top-bar">
  <ul class="title-area">
    <img class="sc-logo-img" src="styles/images/logo.png">

    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
        <li class="divider"></li>
        <li><a href="#/learn">Learn more</a></li>
        <li class="divider"></li>
        <li><a href="#/about">About</a></li>
        <li class="divider"></li>
        <li><a href="http://eepurl.com/r-LMj">Sign up for beta access</a></li>
        <li class="divider"></li>
        <li class="px-100-divider">  </li>
    </ul>
</section>
</nav>

<div class="sc-back-main">

        <div class="sc-hero-unit">
            <div class="row">
                <div class="large-12 small-12 columns">
                    <div class="sc-hero-leader">
                        <span class="h1-wht-trans">Build high-performance data applications</span>
                    </div>
                    <div class="row">
                    <div class="large-6 small-12 columns">
                        <span class="p-wht-trans">Whether your data is big or small, your customers expect a high-performance application.  We integrate with your existing cloud architecture and give you all the tools you need to build fast and scalable applications.<br><br>We take care of all your provisioning, monitoring, and scaling headaches so you can concentrate on your data, not your servers.
                        </span>
                            <div class="sc-white-spacer"></div>
                            <a href="http://eepurl.com/r-LMj" class="call-to-action-btn">Sign up for beta access</a>
                            <a href="#/learn" class="learn-more-btn">Learn more</a>
                    
                    </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="secondary-beta-announcement2">
    <div class="row">
    <div class="large-10 small-12 columns large-centered">
    <span class="headliner">Scalacity beta opening in Summer 2013.</span><br>
    <span class="headfollow">Be one of our first customers and receive enterprise support and special pricing.  <a href="http://eepurl.com/r-LMj">Reserve your spot today</a>.</span>
    </div>
    </div>
</div>
<div class="sc-back-gray">
    
    <div class="row">

    <ul class="small-block-grid-2 large-block-grid-4">
        <li>
            <div class="outer-shadow">
        <img class="sc-feature-img" src="styles/images/stopwatch.png">
        <div class="row">
            <div class="large-12 small-12 columns centered sc-feature-text">
                Build <em>low-latency</em> and <em>real-time</em> applications harnessing the power of Storm, Spark, Hadoop or your own custom architecture.
            </div>
        </div> 
    </div>
        </li>
        
        <li>
        <div class="outer-shadow">
        <img class="sc-feature-img" src="styles/images/arch.png">
        <div class="row">
            <div class="large-12 small-12 columns centered sc-feature-text">
                Integrate with your <em>existing data stores</em> on Amazon, Google Compute Engine, Joyent, or your OpenStack cloud.
            </div>
        </div>
        </div> 
        </li>
        
        <li>
            <div class="outer-shadow">
        <img class="sc-feature-img" src="styles/images/graph.png">
        <div class="row">
            <div class="large-12 small-12 columns centered sc-feature-text">
                Visualize detailed machine and <em>custom application metrics</em>. Our algorithms will help you design for performance.
            </div>
        </div> 
        </div>
        </li>
        
        <li>
        <div class="outer-shadow">
        <img class="sc-feature-img" src="styles/images/logs.png">
        <div class="row">
            <div class="large-12 small-12 columns centered sc-feature-text">
                <em>Fully indexed and searchable logs</em> provide deep insight into your application and architecture performance. 
            </div>
        </div> 
        </div>
        </li>      
    </ul>
    </div>
</div>
<div class="sc-bottom-color-bar"></div>
<div class="sc-footer">
    <div class="row">
        <div class="right">
        <ul class="inline-list">
            <li><a href="/#/about">About</a></li>
            <li><a href="http://twitter.com/scalacity"><span><i class="social-foundicon-twitter icon-twitter-blue"></i>   @scalacity</span></a></li>
            <li><a href="mailto:info@scalacity.com"><span><i class="foundicon-mail icon-gray"></i>   Contact</span></a></li>
        </ul>
        </div>
    </div>
    <div class="row">
    <small>&copy; Scalacity, 2013</small>
    </div>

</div>