<div class="sc-top-color-bar"></div>
<nav class="top-bar">
  <ul class="title-area">
    <img class="sc-logo-img" src="styles/images/logo.png">

    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider"></li>
      <li><a href="#">About</a></li>
      <li class="divider"></li>
      <li><a href="#">Sign up for beta</a></li>
      <li class="divider"></li>
      <li class="px-100-divider">  </li>
    </ul>
</section>
</nav>

<div class="sc-back-main">

        <div class="sc-hero-unit">
            <div class="row">
                <div class="large-12 small-12 columns">
                    <div class="sc-hero-leader">
                        <span class="h1-wht-trans">This is the awesome tag line</span>
                    </div>
                    <div class="row">
                    <div class="large-5 small-12 columns">
                        <span class="p-wht-trans">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget pellentesque sem. Cras ac mauris quis sapien rhoncus porttitor. Sed quis sapien urna. Nullam id neque odio, quis commodo lectus. Aenean interdum aliquam tristique. Suspendisse eget velit ac neque porta euismod vel in eros. Nulla adipiscing pretium magna, sed condimentum.
                            <br>
                            <a href="#" class="call-to-action-btn">Sign up for the beta</a>
                            <a href="#" class="learn-more-btn">Learn more</a>
                    </span>
                    </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="secondary-beta-announcement">
    <h1>Scalacity beta opening in Summer 2013.  Sign up now!</h1>
</div>
<div class="sc-back-gray">
    <div class="row">

    <ul class="small-block-grid-2 large-block-grid-4">
        <li>
            <div class="outer-shadow">
        <img class="sc-feature-img" src="styles/images/stopwatch.png">
        <div class="row">
            <div class="large-12 small-12 columns centered sc-feature-text">
                Here are some awesome words that talk about our amazing features.  Suck it Amazon!
            </div>
        </div> 
    </div>
        </li>
        
        <li>
        <div class="outer-shadow">
        <img class="sc-feature-img" src="styles/images/arch.png">
        <div class="row">
            <div class="large-12 small-12 columns centered sc-feature-text">
                Here are some awesome words that talk about our amazing features.  Suck it Amazon!
            </div>
        </div>
        </div> 
        </li>
        
        <li>
            <div class="outer-shadow">
        <img class="sc-feature-img" src="styles/images/graph.png">
        <div class="row">
            <div class="large-12 small-12 columns centered sc-feature-text">
                Here are some awesome words that talk about our amazing features.  Suck it Amazon!
            </div>
        </div> 
        </div>
        </li>
        
        <li>
        <div class="outer-shadow">
        <img class="sc-feature-img" src="styles/images/logs.png">
        <div class="row">
            <div class="large-12 small-12 columns centered sc-feature-text">
                Here are some awesome words that talk about our amazing features.  Suck it Amazon!
            </div>
        </div> 
        </div>
        </li>      
    </ul>
    </div>
</div>
<div class="sc-bottom-color-bar"></div>
<div class="sc-footer">
    <div class="row">
        <div class="large-5 large-offset-7 small-12 columns">
        <ul class="inline-list">
            <li>About</li>
            <li><a href="http://twitter.com/scalacity"><span><i class="social-foundicon-twitter icon-twitter-blue"></i>   @scalacity</span></a></li>
            <li><a href="mailto:info@scalacity.com"><span><i class="foundicon-mail icon-gray"></i>   Contact</span></a></li>
        </ul>
        </div>
    </div>
    <div class="row">
    <small>&copy; Scalacity, 2013</small>
    </div>
</div>