<div class="sc-top-color-bar"></div>
<nav class="top-bar">
  <ul class="title-area">
    <img class="sc-logo-img" src="styles/images/logo.png">

    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider"></li>
      <li><a href="#">About</a></li>
      <li class="divider"></li>
      <li><a href="#">Sign up for beta</a></li>
      <li class="divider"></li>
      <li class="px-100-divider">  </li>
    </ul>
</section>
</nav>

<div class="sc-back-main">

        <div class="sc-hero-unit">
            <div class="row">
                <div class="large-12 small-12 columns">
                    <div class="sc-hero-leader">
                        <span class="h1-wht-trans">This is the awesome tag line</span>
                    </div>
                    And then the other stuff that explains what we do
                </div>
            </div>
        </div>
</div>
<div class="sc-back-gray">
    <div class="row">

    <ul class="small-block-grid-2 large-block-grid-4">
        <li>
        <img class="sc-feature-img" src="styles/images/stopwatch.png">
        <div class="row">
            <div class="large-12 small-12 columns centered sc-feature-text">
                Here are some awesome words that talk about our amazing features.  Suck it Amazon!
            </div>
        </div> 
        </li>
        
        <li>
        <img class="sc-feature-img" src="styles/images/arch.png">
        <div class="row">
            <div class="large-12 small-12 columns centered sc-feature-text">
                Here are some awesome words that talk about our amazing features.  Suck it Amazon!
            </div>
        </div> 
        </li>
        
        <li>
        <img class="sc-feature-img" src="styles/images/graph.png">
        <div class="row">
            <div class="large-12 small-12 columns centered sc-feature-text">
                Here are some awesome words that talk about our amazing features.  Suck it Amazon!
            </div>
        </div> 
        </li>
        
        <li>
        <img class="sc-feature-img" src="styles/images/logs.png">
        <div class="row">
            <div class="large-12 small-12 columns centered sc-feature-text">
                Here are some awesome words that talk about our amazing features.  Suck it Amazon!
            </div>
        </div> 
        </li>      
    </ul>
    </div>
</div>
<div class="sc-bottom-color-bar"></div>
<div class="sc-footer">
    <div class="row">
        <div class="large-5 large-offset-7 small-12 columns">
        <ul class="inline-list">
            <li>About</li>
            <li><a href="http://twitter.com/scalacity"><span><i class="social-foundicon-twitter icon-twitter-blue"></i>   @scalacity</span></a></li>
            <li><a href="mailto:info@scalacity.com"><span><i class="foundicon-mail icon-gray"></i>   Contact</span></a></li>
        </ul>
        </div>
    </div>
    <div class="row">
    <small>&copy; Scalacity, 2013</small>
    </div>
</div>